<div class="flex flex-row h-screen divide-x divide-gray-200">
  <!--Left Sidebar-->
  <app-left-sidebar *ngIf="true" class="flex-none"></app-left-sidebar>

  <!--Main Content-->
  <!--Container for Search Bar And Main Content-->
  <div class="flex-auto w-full bg-gray-50 h-full w-full overflow-y-auto">
    <div class="flex flex-col h-full w-full divide-y divide-gray-200">
      <!--Top Bar Div-->
      <app-header></app-header>
      <!--Main Content and Right Sidebar Div-->
      <div class="flex-auto w-full flex flex-row divide-x divide-gray-200 overflow-y-auto">
        <!--Main content-->
        <router-outlet></router-outlet>
        <!--      <app-books class="flex-auto" *ngIf="!sharedInfo.isBookDetailsSelected else bookDetails"></app-books>-->

        <!--      <ng-template #bookDetails class="h-full w-full">-->
        <!--        <app-book-details class="flex-auto"></app-book-details>-->
        <!--      </ng-template>-->
        <!--Info right sidebar-->
        <app-right-sidebar class="flex-none overflow-y-auto"></app-right-sidebar>
      </div>
    </div>
  </div>
</div>


