<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-2">
    <div>
      <h2 class="mt-6 mb-6 text-center text-3xl font-extrabold text-gray-900">
        Sign up new account
      </h2>
    </div>

    <app-error></app-error>

    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="mt-8 space-y-4">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label class="sr-only" for="username">Username</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="username" id="username" name="email"
            placeholder="Username"
            type="text">
        </div>
        <div>
          <label class="sr-only" for="password">Password</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="password" id="password" name="password"
            placeholder="Password"
            type="password">
        </div>
        <div>
          <label class="sr-only" for="name">name</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="name" id="name" name="name"
            placeholder="Full Name"
            type="text">
        </div>
        <div>
          <label class="sr-only" for="age">Password</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="age" id="age" name="age"
            placeholder="Age"
            type="number">
        </div>
        <div>
          <label class="sr-only" for="gender">Username</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="gender" id="gender" name="gender"
            placeholder="Gender"
            type="text">
        </div>
        <div>
          <label class="sr-only" for="email">Password</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="email" id="email" name="email"
            placeholder="Email"
            type="email">
        </div>
        <div>
          <label class="sr-only" for="address">Password</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="address" id="address" name="address"
            placeholder="Address"
            type="text">
        </div>
        <div>
          <label class="sr-only" for="city">Username</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="city" id="city" name="city"
            placeholder="City"
            type="text">
        </div>
        <div>
          <label class="sr-only" for="country">Password</label>
          <input
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            formControlName="country" id="country" name="country"
            placeholder="Country"
            type="text">
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="text-sm">
          <a class="font-medium text-gray-700 hover:text-indigo-500" routerLink="/login">
            Already have an account?
          </a>
        </div>
      </div>

      <div>
        <button
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
          type="submit">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg aria-hidden="true" class="h-5 w-5 text-gray-50 group-hover:text-gray-200"
                 fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    fill-rule="evenodd"/>
            </svg>
          </span>
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
